create procedure [dbo].[Add_Replenishment_Order]
(
    @depot_code_emitter varchar(4),
    @depot_code_receiver varchar(4),
    @product_code varchar(5),
    @transporter_code varchar(4),
    @quantity_delivered int,
    @delivered_elements_count int,
    @cost_per_element int,
    @loading_date date,
    @unloading_date date,
    @notes_replenishment_order varchar(50)
)
as 
begin
    declare @replenishment_order_code varchar(12), @total_cost int, @n int

    set @total_cost = @cost_per_element * @delivered_elements_count

    set @replenishment_order_code = @product_code + '/' + RIGHT(STR(YEAR(@unloading_date),4),2) + '/'

    select @n = COUNT(*) + 1 from Replenishment_Order

    if @n < 10 
        set @replenishment_order_code = @replenishment_order_code + '00' + STR(@n,1)
    else if @n < 100 
        set @replenishment_order_code = @replenishment_order_code + '0' + STR(@n,2)
    else 
        set @replenishment_order_code = @replenishment_order_code + STR(@n,3)

    insert into Replenishment_Order (
        replenishment_order_code, depot_code_emitter, depot_code_receiver,
        product_code, transporter_code, quantity_delivered, delivered_elements_count,
        cost_per_element, total_cost, loading_date, unloading_date, notes_replenishment_order
    ) 
    values (
        @replenishment_order_code, @depot_code_emitter, @depot_code_receiver,
        @product_code, @transporter_code, @quantity_delivered, @delivered_elements_count,
        @cost_per_element, @total_cost, @loading_date, @unloading_date, @notes_replenishment_order
    )
end;
