create procedure [dbo].[Add_Production_Record]
(
    @product_code varchar(5),
    @refinery_code varchar(4),
    @production_date date,
    @quantity_produced int
)
as 
begin
    declare @production_record_code varchar(12), @remaining_quantity int, @n int

    set @remaining_quantity = @quantity_produced
    set @production_record_code = @product_code + '/' + RIGHT(STR(YEAR(@production_date),4),2) + '/'

    select @n = COUNT(*) + 1 from Production_Record

    if @n < 10 
        set @production_record_code = @production_record_code + '00' + STR(@n,1)
    else if @n < 100 
        set @production_record_code = @production_record_code + '0' + STR(@n,2)
    else 
        set @production_record_code = @production_record_code + STR(@n,3)

    insert into Production_Record 
    values (
        @production_record_code, 
        @production_date, 
        @quantity_produced, 
        @remaining_quantity, 
        @refinery_code, 
        @product_code
    )
end;
