create trigger [dbo].[Update_Stock_On_Replenishment_Order_Insert] on [dbo].[Replenishment_Order]
after insert
as 
begin
    declare @depot_code_emitter char(4), 
            @depot_code_receiver char(4), 
            @product_code char(5), 
            @quantity_delivered int, 
            @unit_volume int, 
            @new_stock_quantity int, 
            @added_volume int

    select 
        @depot_code_emitter = depot_code_emitter, 
        @depot_code_receiver = depot_code_receiver, 
        @product_code = product_code, 
        @quantity_delivered = quantity_delivered 
    from inserted

    update Stores  
    set stock_quantity = stock_quantity + @quantity_delivered
    where depot_code = @depot_code_receiver and product_code = @product_code

    update Stores 
    set stock_quantity = stock_quantity - @quantity_delivered
    where depot_code = @depot_code_emitter and product_code = @product_code

    select @unit_volume = unit_volume 
    from Product 
    where product_code = @product_code

    select @new_stock_quantity = stock_quantity 
    from Stores 
    where depot_code = @depot_code_receiver and product_code = @product_code

    set @added_volume = @new_stock_quantity * @unit_volume

    update Depot 
    set occupied_volume = occupied_volume + @added_volume 
    where depot_code = @depot_code_receiver

    update Depot 
    set occupied_volume = occupied_volume - @added_volume 
    where depot_code = @depot_code_emitter

end;
