create trigger [dbo].[Update_Stores_After_SupplyOrder] on [dbo].[Supply_order]
after insert
as 
begin
    declare @product_code char(5), 
            @depot_code char(4), 
            @supplied_quantity int, 
            @unit_volume int, 
            @added_volume int, 
            @production_record_code varchar(12)

    select 
        @product_code = product_code,
        @depot_code = depot_code,
        @supplied_quantity = supplied_quantity,
        @production_record_code = production_record_code
    from inserted

    update Stores  
    set stock_quantity = stock_quantity + @supplied_quantity
    where depot_code = @depot_code and product_code = @product_code

    select @unit_volume = unit_volume 
    from Product 
    where product_code = @product_code

    set @added_volume = @supplied_quantity * @unit_volume

    update Depot 
    set occupied_volume = occupied_volume + @added_volume 
    where depot_code = @depot_code

    update Production_Record
    set remaining_quantity = remaining_quantity - @supplied_quantity 
    where production_record_code = @production_record_code

end;
